:root {
    --primary-color: #4a90e2;
    --secondary-color: #f39c12;
    --accent-color: #e74c3c;
    --background-color: #f4f4f4;
    --text-color: #333333;
}
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
.navbar {
    background-color: var(--primary-color) !important;
}
.navbar-brand, .nav-link {
    color: white !important;
}
.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-primary:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}
.recover-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.boton_recuperar{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}